@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Tangerine");
/* @import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap"); */

body {

    /* darkmode */
    /* 
    --globalbg: #282c34;
    --globalbg2: #282c34cd;
    --globalfg: #ffffff; */

    /* lightmode */

    --globalbg: #ffffff;
    --globalbg2: #ffffffcd;
    --globalfg: #404040;

    /* font-size: 16px; */

    color: var(--globalfg);
    --overskriftfarge: var(--globalbg2);
    background-color: var(--globalbg);
    margin: 0px;
}

* {
    font-family: Inter;
    /* font-family: Tangerine; */
    color: inherit;
}

.container {
    /* denne klassen endrer bredden responsivt avhengig av skjermstørrelse
     */
    position: relative;

    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    /* padding: 15px; */

    /* background-color: blueviolet; */
}

.vanligKnapp {
    display: block;
    padding: 5px;
    background-color: #d6ccff;
    border-radius: 10px;
    border-color: #9279ff;
    color: #404040;
}

.vanligKnapp:hover {
    background-color: #9279ff;
    color: white;
    cursor: pointer;
}

.inputfield {
    margin: 0 auto;
    text-align: left;
    /* background-color: antiquewhite; */
    width: 100%;
    /* denne klassen inneholder som oftest en label og en input
     */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inputfield input {
    max-width: calc(100% - 7.5px);
    /* 292.5px; */
    width: 100%;
}

.inputfield label {
    margin-bottom: 5px;
}

.errorMessage {
    display: none;
    color: red;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: calc(100% - 34px);
    width: 100%;
    border-radius: 10px;
    border: solid #ffbbbb 2px;
    background-color: #ffdddd;
    padding: 15px;
}

.hovedflex {
    display: flex;
    flex-direction: row;
}

.hiddenButton {
    background-color: #80808000;
    transition-duration: 100ms;
    border: none;
}

.hidden {
    background-color: transparent;
    transition-duration: 100ms;
    border: none;
}

.hiddenButton:hover {
    background-color: #80808020;
    transition-duration: 100ms;
}

.genericButton {
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 9999px;
    text-align: left;
}

.genericButton:hover {
    cursor: pointer;
}

.tweetknappviews:hover {
    cursor: unset;
}

#venstrekolonne {
    padding-top: 15px;
    flex: 0.6;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 95vh;
    position: sticky;
    top: 0px;
    border-right: solid rgba(222, 230, 232, 0.6) 1px;
    min-width: 250px;
}

#hoyrekolonne {
    flex: 3;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
}

#midtkolonne {
    /* background-color: blue; */
    flex: 2;
    border-right: rgba(222, 230, 232, 0.6) solid 1px;
    max-width: 750px;
}

#sidebar {
    padding-top: 5px;
    /* background-color: green; */
    flex: 1;
    height: 95vh;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 20px;
    padding-right: 20px;
}

#overskrift {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

#overskrifttabs {
    display: flex;
}

#overskrifttabs>* {
    flex: 1;
}

#meny {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
}

#menyknapper {
    display: flex;
    flex-direction: column;
}

#menyknapper>* {
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    /* justify-content: space-around; */
}

#menyknapper>*>img {
    margin-right: 10px;
}

.profilbilde {
    border-radius: 9999px;
    width: 50px;
    height: 50px;
}

.profilknapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

.profilknapp>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.profilknapp>div>img {
    margin-right: 10px;
}

.folgePerson>div>img {
    margin-right: 10px;
}

.folgePerson>button {
    margin-right: 10px;
}

.folgePerson>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.folgePerson {
    text-decoration: none;
    /* background-color: ; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
    border-radius: 10px;
}

.whotofollowheader {
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 700;
}

.whotofollow {
    background-color: #aaaaaa20;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* .whotofollowperson a{
} */

#logo.hiddenButton {
    border-radius: 9999px;
    width: fit-content;
    padding: 15px;
}

#overskrift {
    backdrop-filter: blur(6px);
    background-color: var(--overskriftfarge);
    position: sticky;
    top: -0.5px;
    border-bottom: rgba(222, 230, 232, 0.6) solid 1px;
}

#overskrifttekst {
    margin: 15px;
    font-size: 1.25em;
    font-weight: 700;
}

.overskriftknapp>div {
    font-size: 1.125em;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: goldenrod; */
    width: fit-content;
    min-width: 50px;
    margin: 0 auto;

    position: relative;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #baaaff;
    border-radius: 9999px;
}

.tweet {
    /* margin-bottom: 1000px; */
}

#sok {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #aaaaaa20;
    border-radius: 9999px;
    border: rgba(222, 230, 232, 0.6) solid 1px;
}
#sok:focus-within {
    border: #baaaff solid 1px;
}
#sokfelt {
    border: none;
}
#sokfelt:focus {
    outline: none;
    
}

#sok button {
    border-radius: 9999px;
    padding: 10px;
}

#sok>div {
    display: flex;
    flex-direction: row;
}

#sok>input {
    border: none;
    height: 100%;
    font-size: 1em;
    max-width: 200px;
    background-color: transparent;
}

.boldText {
    font-weight: 700;
}

.fixedbunnhoyre {
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin: none;
}

.bunnhoyre {
    position: absolute;
    bottom: 100px;
    right: 100px;
    margin: none;
}

.aatweetknapp {
    border: none;
    background-color: #baaaff;
    color: white;
    margin: 0 auto;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 1.25em;
    border-radius: 20px;
}

.aatweetknapp:hover {
    background-color: #a99aff;
    cursor: pointer;
}

.tweet {
    display: flex;
    flex-direction: row;
    border-bottom: rgba(222, 230, 232, 0.6) solid 1px;
}

.tweetkolonne {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    padding-bottom: 0px;
}

.profilbildekolonne {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.forfatterinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    max-width: 450px;
    margin-bottom: 10px;
}

.forfatterinfo>* {
    margin-right: 15px;
    opacity: 0.8;
}

.forfatterinfo>*:nth-child(1) {
    font-weight: 700;
    opacity: 1;
}

.tweettekst {
    font-size: 1.25em;
    max-width: 450px;
    margin-bottom: 10px;
}

.tweettekstBark {
    font-size: 1.25em;
    max-width: 450px;
    margin-bottom: 10px;
    position: relative;
}

.characterIndicator {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 0.75em;
    opacity: 0.5;
}



.tweetbilde {
    width: 100%;
    max-width: 550px;
    min-width: 385px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.tweetknapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 450px;
    margin-bottom: 10px;
}

.tweetknapp {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweetknapp>*:nth-child(1) {
    margin-right: 5px;
}

#popupLogout {
    display: none;
    position: absolute;
    bottom: 12%;
    left: calc(5% + 30px);
    /* width: 300px; */
    background-color: #aaaaaa20;
    ;
    z-index: 2;
    padding: 15px;
    border-radius: 20px;
    min-width: 170px;
    /* width: 100px; */
}

#popupLogout>* {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

#popupLogout>#popupLogoutButton {
    color: #ff0000;
    background-color: #ffdddd;
    border: #ffbbbb solid 1px;
    margin-bottom: 0px;
}

#popupLogout>#popupLogoutButton:hover {
    background-color: #ffcccc;
}

@media only screen and (max-width: 1200px) {
    .buttonText {
        display: none;
    }

    #venstrekolonne {
        width: min-content;
        min-width: 60px;
        padding-left: 15px;
        padding-right: 15px;
        flex: 0;
    }

    .profilknapp {
        width: min-content;
        margin: 0 auto;
    }

    .profil>button {
        padding: 0px;
    }

    .profilknapp>div>img {
        margin-right: 0;
    }

    #menyknapper>*>img {
        margin-right: 0px;
    }

    .genericButton:not(#profilePfpShare *, #setupProfile *, #midtkolonne *) {
        padding: 10px;
        margin: 0 auto;
    }

    #logo.hiddenButton {
        padding: 10px;
        margin: 0 auto;
    }

    .mediumWidth {
        display: none;
    }
}

@media only screen and (max-width: 880px) {

    /* når det er mindre enn 880px*/
    #sidebar,
    .largeWidth {
        display: none;
    }
}

@media only screen and (min-width: 880px) {

    #menysok,
    #menytweet {
        display: none;
    }

    .smallWidth {
        display: none;
    }
}

.profileDisplay {
    position: relative;
    display: block;
}

#profilebanner {
    height: 200px;
    width: 100%;
    /* background-color: cornflowerblue; */
    background-color: #7a5901;
}

#profilebannerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#profilePfpShare {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75px;
}

#profilePfpShare>div {
    position: relative;
}

#profilePfpShare>div>img {
    position: absolute;
    top: -75px;
    border-radius: 9999px;
    border: #aaaaaa20 solid 5px;
    /* box-shadow: 0px 0px 10px 10px var(--globalbg); */
    object-fit: fill;
    background-color: var(--globalbg);
}

.imagePreview>.profileImgCustomize {
    border-radius: 9999px;
    border: #aaaaaa20 solid 5px;
    object-fit: fill;
    width: 150px;
    height: 150px;
}

.imagePreview>.bannerImgCustomize {
    /* border: #aaaaaa20 solid 5px; */
    height: 200px;
    width: 700px;
    object-fit: cover;
}

#viewprofileTopp {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    align-items: center;
}

#viewprofileTopp>button {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileDisplay button,
#overskrift button {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    font-size: 1em;
}

#profileFollowingFollowers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profileFollowingFollowers>* {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#profileFollowingFollowers>*>*:nth-child(1) {
    margin-right: 5px;
    font-weight: 700;
}

#profileFollowingFollowers>*:nth-child(1) {
    margin-right: 20px;
}

#profileTextBody {
    padding-left: 20px;
}

#profileTextBody>*:nth-child(1) {
    font-weight: 700;
}

#profileTextBody>* {
    margin-bottom: 5px;
}

#profileLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

#setupButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#setupButtons>* {
    margin-right: 10px;
    margin-left: 10px;
}

.settingsheader {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-top: 40px;
}

#setupProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#setupProfile>*:nth-child(2) {
    margin-bottom: 30px;
    margin-top: 10px;
}

.inputFile {
    padding: 10px;
    border: 2px solid #aaaaaa80;
    background-color: var(--globalbg);
    border-radius: 9999px;
    /* background-color: #baaaff30; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.inputFile+.vanligKnapp {
    margin: 0 auto;
}

.inputTextarea {
    padding: 10px;
    background-color: var(--globalbg);
    border: 2px solid #aaaaaa80;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.inputText {
    background-color: var(--globalbg);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #aaaaaa80;
    border-radius: 20px;
    outline: none;
}

.settingsTabKeys {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingsTabKeys input,
.settingsTabKeys textarea {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 300px;
    margin-left: 25px;
    margin-right: 20px;
}

.settingsTabKeys .settingssTitles {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.25em;
    margin-left: 20px;
    margin-right: 20px;
}

.settingsTabKeys .inputfield {
    border-bottom: rgba(222, 230, 232, 0.6) solid 1px;
}

.horisontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.radioElement {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    margin: 5px;
    margin-bottom: 10px;
}

.radioElement>input {
    /* width: 10px;
    height: 10px; */
    width: 100%;
    height: 2em;
    margin: 5px;
    vertical-align: baseline;
}

.radioElement>* {
    margin: 5px;
}

.radioElement label {
    margin-top: 7.1px;
}

.grayBorder {
    padding: 10px;
    border: 2px solid #aaaaaa80;
    border-radius: 9999px;
}

.colorThemes>*:nth-child(1) {
    background-color: white;
    color: #404040;
    margin-left: 25px;
}

.colorThemes>*:nth-child(2) {
    background-color: #282c34;
    color: white;
}

.colorThemes>*:nth-child(3) {
    background: linear-gradient(100deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 15%,
            rgba(208, 222, 33, 1) 28%,
            rgba(79, 220, 74, 1) 39%,
            rgba(63, 218, 216, 1) 50%,
            rgba(47, 201, 226, 1) 55%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 66%,
            rgba(186, 12, 248, 1) 72%,
            rgba(251, 7, 217, 1) 85%,
            rgba(255, 0, 0, 1) 100%);
}

.customColors {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: fit-content;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.customColors label {
    font-weight: 400;
}

.customColors input {

    width: 50px;
    height: 30px;
    margin: 5px;
}

.fontsizeflex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.fontsizeflex>* {
    margin: 5px;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
input[type='range'] {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-top: 20px;
}

input[type='range']:hover {
    opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #baaaff;
    cursor: pointer;
}

.storfontsizetext {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.litenfontsizetext {
    font-size: 0.75em;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

#fontsizepreview {
    font-size: 1.125em;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.tweetheader {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-top: 10px;
}

#flexBark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 20px;
    width: 100%;

}

.barker {
    display: flex;
    justify-content: center;
    max-width: 550px;
    width: 100%;
}

#feeden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: none;
    /* margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 20px; */
    width: 100%;
}



#tweetTextArea {
    width: 100%;
    height: 200px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    resize: none;
    font-size: 1.25em;
    font-weight: 400;
}
.tweetInputs{
    border-radius: 15px;
    border: #aaaaaa20 solid 5px;
}
.tweetInputs:focus{
    outline: none;
    border: #aaaaaa60 solid 5px;
}
#tweetTextArea:focus {
    outline: none;
    
}

#tweetTextArea::placeholder {
    font-size: 1.125em;

}

.tweetBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;

}

.tweetBottomRow>*:nth-child(1) {
    margin-left: 10px;
}

.tweetBottomRow>*:nth-child(1)>* {
    border-radius: 10px;
    cursor: pointer;
}


.tweetBottomRow>*:nth-child(2) {
    margin: 0;
    margin-right: 15px;
    width: 100%;
    max-width: 280px;
}

.tweetImagePreview {
    border-top: #aaaaaa20 solid 5px;
    width: 100%;
    height: 200px;
}
.tweetImagePreview > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 15px;
}

#commentsection {

}
.indentLinjer{
    display: flex;
    flex-direction: row;
    height: 0px;

}
.indentLinje{
    margin-left: 25px;
    margin-right: 3px;
    height: 100%;
    width: 2px;
    background-color: #aaaaaa20;
}
.comment {
    display: flex;
    flex-direction: row;

}
.comment .tweet {
    border-bottom: none;
}
.indentLinjePrime {
    height: 200px;
    width: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaaaaa20;

}
.comment .profilbildekolonne {
    padding-left: 0px;
}
.comment .tweetkolonne {
    justify-content: flex-start;
    height: fit-content;
}