
{% from 'macros.html' import leftSidebar %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize</title>
    <link rel="stylesheet" href="static/css/hoved.css">
</head>
<style>

    .inputfield {
        display: flex;
        width: 300px;
        justify-content: center;
    }

    #midtkolonne {
        max-width: 1000px;
    }
</style>

<body>
    <!-- To do!
    Nettsiden skal ha konstant bredde hvis bredden på skjermen er større en 1200 px 
    .container gjør dette for oss
    vi skal dele opp .container i en venstre- og høyrekolonne der høyrekolonne tar størst plass
    venstrekolonne vil bli delt opp i 2 deler den ene er logo + meny. den andre delen er bruker sin profil
    Høyre kolonne vil bli delt opp i 2 deler den ene er størst og vil ligge mer mot midten av siden vi kaller denne Midtkolonne. den andre delen vil fungere som en sidebar hvor man kan søke etter bruker og kunen følge tilfeldige bruker som er valgt av programmet 
    Midtkolonnen vil bli delt opp i 2 deler overskift/tabs og den andre delen vil være en feed. -->



    <div class="container">
        <div class="hovedflex">
            {{ leftSidebar(user, "a") }}
            <div id="hoyrekolonne">
                <div id="midtkolonne">
                    <div id="overskrift">
                        <div id="overskrifttekst">Velkommen til Barker</div>
                    </div>
                    <div id="feed">
                        <div id="setupProfile">
                            <div class="settingsheader" value="0">What do you want to be called?</div>
                            <form onsubmit="return formSubmit();" id="customizeForm" action="/customizeStep" method="POST" target="invisibleIframe" enctype="multipart/form-data">
                                <div class="inputfield">

                                    <input name="first" style="display: block;" type="text" class="inputText"
                                        placeholder="Håkon lærerson...">
                                    <input name="second" style="display: none;" type="file" accept="image/*" class="inputFile">
                                    <textarea name="third" style="display: none;" class="inputTextarea"
                                        placeholder="Write your bio..."></textarea>
                                    <input id="stageInput" name="stage" type="hidden">
                                </div>
                                <div id="setupButtons">
                                    <button onclick="nextPrompt(skip=true);" type="button" class="vanligKnapp genericButton">Skip</button>
                                    <button class="vanligKnapp genericButton">Next</button>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
    </div>



<iframe id="invisibleIframe" name="invisibleIframe" style="display: none;"></iframe>

</body>

<script src="static/javascript/lib.js"></script>
<script src="static/javascript/leftSidebar.js"></script>
<script>

    let stageInputEl = document.querySelector("#stageInput");
    stageInputEl.value = "0";

    function nextPrompt(skip = false) {
        let setupInputs = document.querySelectorAll(".inputfield>*"); // array med 3 inputs
        let setupHeader = document.querySelector(".settingsheader");

        let stage = Number(setupHeader.getAttribute("value"));

        let listeOverType = ["text", "file", "textarea", "file", "text"];
        let listeOverIndexer = [0, 1, 2, 1, 0];
        let listeOverNokler = ["displayName", "profileImage", "bio", "bannerImage", "location"];
        let listeOverSprml = ["What do you want to be called?", "What do you want your profile picture to be?", "What do you want your bio to be?", "What do you want your profile banner to be?", "What is your location?"]

        setupInputs[listeOverIndexer[stage]].value = "";

        setupInputs[listeOverIndexer[stage]].style.display = "none";

        stage++;
        let stageInputEl = document.querySelector("#stageInput");
        stageInputEl.value = stage;

        if (stage > 4) {
            // gå til home
            window.location.href = "/viewprofile";
        } else {
            // gå til neste prompt
            setupHeader.setAttribute("value", stage);
            setupHeader.innerHTML = listeOverSprml[stage];

            setupInputs[listeOverIndexer[stage]].style.display = "block";
            setupInputs[listeOverIndexer[stage]].focus();
        }



        /*
        Displayname
        0: What do you want to be called?
        Profile picture
        1: What do you want your profile picture to be?
        Bio
        2: What do you want your bio to be?
        Profile banner
        3: What do you want your profile banner to be?
        location
        4: What is your location?
        */

    }

    function formSubmit() {
        var callback = function() {
            nextPrompt(skip=false);
            frame.onload = null;
        };

        let frame = document.querySelector("#invisibleIframe");
        let form = document.querySelector("#customizeForm");

        frame.onload = callback;
        //form.submit();
        return true;
    }

</script>

</html>
