<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="static/css/hoved.css">
</head>
<style>
    /* lokal stilark */

    .vanligKnapp {
        /* midtstilt med responsiv bredde */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .container {
        margin-top: 15px;
        text-align: center;
        max-width: 300px;
    }

    .container a {
        text-align: justify;
    }
</style>

<body>
    <!-- TODO:
    Alt skal inn i en div som capper bredden til 300px og sentrerer innholdet.
    Bark-ikonet i øverst i midten.
    Tekst som sier "Logg inn til Barker". kanskje h1 eller h2.
    En input for brukernavn.
    En input for passord.
    En knapp som sier "Logg inn". denne må bruke en event listener som sjekker om brukernavn og passord er riktig.
    en tekst som sier "Har du ikke en konto? Registrer deg her". dette skal være en link til registreringssiden
      -->


    <div class="container">
        <img src="static/bilder/BARK.png" height="50px" alt="bark icon">
        <h1>Logg inn til Barker</h1>
        <p class="errorMessage"></p>
        <form action="/login" method="POST">
            <div class="inputfield">
                <label for="brukernavn">Brukernavn</label>
                <input type="text" id="brukernavn" name="brukernavn" placeholder="" required>
            </div>
            <div class="inputfield">
                <label for="passord">Passord</label>
                <input type="password" id="passord" name="passord" placeholder="" required>
            </div>
            <button class="vanligKnapp" type="submit">Logg inn</button>
        </form>
        <a href="/register">Har du ikke en konto? Registrer deg her</a>
    </div>
</body>
<script src="static/javascript/lib.js"></script>

</html>
