
{% from 'macros.html' import rightSidebar %}
{% from 'macros.html' import leftSidebar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="static/css/hoved.css">
</head>
<style>


</style>

<body
    {% if user['settings']['theme'] == 'light' %}
        class="lightMode"
    {% elif user['settings']['theme'] == 'dark' %}
        class="darkMode"
    {% else %}
        class="customTheme"
        style="--globalbg:{{ user['settings']['background-color'] }};
            --globalbg2:{{ user['settings']['background-color'] }};
            --globalfg:{{ user['settings']['text-color'] }};"
    {% endif %}">
    <!-- To do!
    Nettsiden skal ha konstant bredde hvis bredden på skjermen er større en 1200 px 
    .container gjør dette for oss
    vi skal dele opp .container i en venstre- og høyrekolonne der høyrekolonne tar størst plass
    venstrekolonne vil bli delt opp i 2 deler den ene er logo + meny. den andre delen er bruker sin profil
    Høyre kolonne vil bli delt opp i 2 deler den ene er størst og vil ligge mer mot midten av siden vi kaller denne Midtkolonne. den andre delen vil fungere som en sidebar hvor man kan søke etter bruker og kunen følge tilfeldige bruker som er valgt av programmet 
    Midtkolonnen vil bli delt opp i 2 deler overskift/tabs og den andre delen vil være en feed. -->



    <div class="container">
        <div class="hovedflex">
            {{ leftSidebar(user, "settings") }}
            <div id="hoyrekolonne">
                <div id="midtkolonne">
                    <div id="overskrift">
                        <div id="overskrifttekst">Settings</div>
                        <div id="overskrifttabs">
                            <button id="settingsProfile" class="overskriftknapp hiddenButton">
                                <div>
                                    Profile
                                    <div class="line"></div>
                                </div>
                            </button>
                            <button id="settingsAppearance" class="overskriftknapp hiddenButton">
                                <div>
                                    Appearance
                                    <div class="line"></div>
                                </div>
                            </button>
                            <button id="settingsOther" class="overskriftknapp hiddenButton">
                                <div>
                                    Other
                                    <div class="line"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="feed">
                        <div id="settingsEditProfile" class="settingsTabKeys" style="display: block;">

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileDisplayName">Name</label>
                                    <input type="text" id="settingsEditProfileDisplayName"
                                        name="settingsEditProfileDisplayName" class="inputText"
                                        value="{{ user['name'] }}" placeholder="Micahale jacksonscript"
                                        oninput="formSubmit(this, '#profileDisplayName');">
                                    <input type="hidden" name="field" value="name">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe" enctype="multipart/form-data">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileBanner">Profile banner</label>
                                    <input type="file" id="settingsEditProfileBanner" name="settingsEditProfileBanner"
                                        class="inputFile" onchange="imageSubmit(event, this, '#profilebannerimg');">
                                    <input type="hidden" name="field" value="profileBanner">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe" enctype="multipart/form-data">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfilePicture">Profile picture</label>
                                    <input type="file" id="settingsEditProfilePicture" name="settingsEditProfilePicture"
                                        class="inputFile" onchange="imageSubmit(event, this, '#overskriftPfp');">
                                    <input type="hidden" name="field" value="profilePicture">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileBio">Bio</label>
                                    <textarea id="settingsEditProfileBio" name="settingsEditProfileBio" class="inputTextarea"
                                        placeholder="Rewrite your bio..." oninput="formSubmit(this, '#profileBio');">{{ user['bio'] }}</textarea>
                                    <input type="hidden" name="field" value="bio">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileLocation">Location</label>
                                    <input type="text" id="settingsEditProfileLocation" name="settingsEditProfileLocation"
                                        class="inputText" value="{{ user['location'] }}" placeholder="Mars" oninput="formSubmit(this, '#profileLocationName');">
                                    <input type="hidden" name="field" value="location">
                                </div>
                            </form>


                        </div>
                        <div id="settingsEditAppearance" class="settingsTabKeys" style="display: block;">
                            <div class="inputfield">
                                <div class="settingssTitles">Color theme</div>

                                    <form action="/updateProfile" method="POST" target="invisibleIframe">
                                        <div class="horisontalFlex colorThemes">
                                            <div class="radioElement grayBorder">
                                                <label for="settingsEditAppearanceColorThemeLight">Light</label>
                                                <input type="radio" name="colorThemeType"
                                                    id="settingsEditAppearanceColorThemeLight"
                                                    class="settingsEditAppearanceColorThemeType"
                                                    value="0"
                                                    {% if user['settings']['theme'] == 'light' %}
                                                        checked
                                                    {% endif %}>
                                            </div>
                                            <div class="radioElement grayBorder">
                                                <label for="settingsEditAppearanceColorThemeDark">Dark</label>
                                                <input type="radio" name="colorThemeType"
                                                    id="settingsEditAppearanceColorThemeDark"
                                                    class="settingsEditAppearanceColorThemeType"
                                                    value="1"
                                                    {% if user['settings']['theme'] == 'dark' %}
                                                        checked
                                                    {% endif %}>
                                            </div>
                                            <div class="radioElement grayBorder">
                                                <label for="settingsEditAppearanceColorThemeCustom">Custom</label>
                                                <input type="radio" name="colorThemeType"
                                                    id="settingsEditAppearanceColorThemeCustom"
                                                    class="settingsEditAppearanceColorThemeType"
                                                    value="2"
                                                    {% if user['settings']['theme'] == 'custom' %}
                                                        checked
                                                    {% endif %}>
                                            </div>
                                        </div>

                                        <input type="hidden" name="field" value="theme">
                                </form>
                                <form id="customColorsForm" action="/updateProfile" method="POST" target="invisibleIframe">

                                    <div class="customColors grayBorder">
                                        <div class="horisontalFlex">
                                            <label for="customColorBackground">Background Color:</label>
                                            <input value="{{ user['settings']['background-color'] }}" onchange="updateCustomCSS();" type="color" name="bgColor" id="customColorBackground">
                                        </div>
                                        <div class="horistontalFlex">
                                            <label for="customColorText">Text Color:</label>
                                            <input value="{{ user['settings']['text-color'] }}" onchange="updateCustomCSS();" type="color" name="fgColor" id="customColorText">
                                        </div>
                                    </div>
                                    <input type="hidden" name="field" value="customColors">
                                </form>
                            </div>
                        </div>
                        <div id="settingsEditOther" class="settingsTabKeys" style="display: none;">


                        </div>
                    </div>

                </div>

                <div id="sidebar">

                    <div class="whotofollow">
                        <div class="whotofollowheader">Preview</div>
                        <div>
                            <div class="profileDisplay">
                                <div id="profilebanner">
                                    <img src="static/userpics/{{ user['bannerImage'] }}"
                                        alt="profilebanner" id="profilebannerimg">

                                </div>

                                <div id="profilePfpShare">
                                    <div>
                                        <img src="static/userpics/{{ user['profileImage'] }}"
                                            alt="pfp" id="overskriftPfp" width="150" height="150">
                                    </div>
                                    <button class="genericButton vanligKnapp">Follow</button>
                                </div>
                                <div id="profileTextBody">

                                    <h3 id="profileDisplayName">{{ user['name'] }}</h3>
                                    <div id="profileBrukernavn">@{{ user['username'] }}</div>
                                    <div id="profileBio">{{ user['bio'] }}</div>

                                    <div id="profileLocation">
                                        <img id="profileLocationIcon" src="" alt="map marker icon">
                                        <div id="profileLocationName">{{ user['location'] }}</div>
                                    </div>

                                    <div id="profileFollowingFollowers">
                                        <div id="profileFollowing">
                                            <div>{{ user['following']|length }}</div>
                                            <div>Following</div>
                                        </div>
                                        <div id="profileFollowers">
                                            <div>{{ user['followers']|length }}</div>
                                            <div>Followers</div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>


<iframe id="invisibleIframe" name="invisibleIframe" style="display: none;"></iframe>

</body>

<script src="static/javascript/lib.js"></script>
<script src="static/javascript/leftSidebar.js"></script>
<script>

    function updateCustomCSS() {
        let form = document.querySelector("#customColorsForm");
        form.submit();

        bgEl = document.querySelector("#customColorBackground");
        fgEl = document.querySelector("#customColorText");

        document.body.style.setProperty("--globalbg", bgEl.value);
        document.body.style.setProperty("--globalbg2", bgEl.value);
        document.body.style.setProperty("--globalfg", fgEl.value);
    }

    function selectRadioIfClicked(e) {
        let id = ""
        if (e.target.tagName != "DIV") {
            e.target.parentElement.children[1].checked = true;
            id = e.target.parentElement.children[1].id;
        } else {
            id = e.target.children[1].id;
            e.target.children[1].checked = true;
        }

        if (id == "settingsEditAppearanceColorThemeLight") {
            document.querySelector(".customColors").style.display = "none";
            document.body.classList.remove("darkMode");
            document.body.classList.add("lightMode");
            document.body.classList.remove("customTheme");

            document.body.style.removeProperty("--globalbg");
            document.body.style.removeProperty("--globalbg2");
            document.body.style.removeProperty("--globalfg");
        } else if (id == "settingsEditAppearanceColorThemeDark") {
            document.querySelector(".customColors").style.display = "none";
            document.body.classList.add("darkMode");
            document.body.classList.remove("lightMode");
            document.body.classList.remove("customTheme");

            document.body.style.removeProperty("--globalbg");
            document.body.style.removeProperty("--globalbg2");
            document.body.style.removeProperty("--globalfg");
        } else if (id == "settingsEditAppearanceColorThemeCustom") {
            document.querySelector(".customColors").style.display = "flex";
            document.body.classList.remove("darkMode");
            document.body.classList.remove("lightMode");
            document.body.classList.add("customTheme");
            updateCustomCSS();
        }

        input = document.querySelector("#" + id);
        input.parentElement.parentElement.parentElement.submit();

    }
    let colorThemeButtons = document.querySelectorAll(".radioElement");
    for (let i = 0; i < colorThemeButtons.length; i++) {
        colorThemeButtons[i].addEventListener("click", selectRadioIfClicked);
    }

    function formSubmit(input, previewID) {
        input.parentElement.parentElement.submit();
        var el = document.querySelector(previewID);
        el.innerHTML = input.value;
    }

    function imageSubmit(event, input, previewID) {
        input.parentElement.parentElement.submit();
        var output = document.querySelector(previewID);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        };
    }


</script>

</html>
