
{% from 'macros.html' import rightSidebar %}
{% from 'macros.html' import leftSidebar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="static/css/hoved.css">
</head>
<style>


</style>

<body class="{{ 'darkMode' if user['settings']['darkMode'] }}">
    <!-- To do!
    Nettsiden skal ha konstant bredde hvis bredden på skjermen er større en 1200 px 
    .container gjør dette for oss
    vi skal dele opp .container i en venstre- og høyrekolonne der høyrekolonne tar størst plass
    venstrekolonne vil bli delt opp i 2 deler den ene er logo + meny. den andre delen er bruker sin profil
    Høyre kolonne vil bli delt opp i 2 deler den ene er størst og vil ligge mer mot midten av siden vi kaller denne Midtkolonne. den andre delen vil fungere som en sidebar hvor man kan søke etter bruker og kunen følge tilfeldige bruker som er valgt av programmet 
    Midtkolonnen vil bli delt opp i 2 deler overskift/tabs og den andre delen vil være en feed. -->



    <div class="container">
        <div class="hovedflex">
            {{ leftSidebar(user, "settings") }}
            <div id="hoyrekolonne">
                <div id="midtkolonne">
                    <div id="overskrift">
                        <div id="overskrifttekst">Settings</div>
                        <div id="overskrifttabs">
                            <button id="settingsProfile" class="overskriftknapp hiddenButton">
                                <div>
                                    Profile
                                    <div class="line"></div>
                                </div>
                            </button>
                            <button id="settingsAppearance" class="overskriftknapp hiddenButton">
                                <div>
                                    Appearance
                                    <div class="line"></div>
                                </div>
                            </button>
                            <button id="settingsOther" class="overskriftknapp hiddenButton">
                                <div>
                                    Other
                                    <div class="line"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="feed">
                        <div id="settingsEditProfile" class="settingsTabKeys" style="display: block;">

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileDisplayName">Name</label>
                                    <input type="text" id="settingsEditProfileDisplayName"
                                        name="settingsEditProfileDisplayName" class="inputText"
                                        value="{{ user['name'] }}" placeholder="Micahale jacksonscript"
                                        oninput="formSubmit(this);">
                                    <input type="hidden" name="field" value="name">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe" enctype="multipart/form-data">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileBanner">Profile banner</label>
                                    <input type="file" id="settingsEditProfileBanner" name="settingsEditProfileBanner"
                                        class="inputFile" onchange="formSubmit(this);">
                                    <input type="hidden" name="field" value="profileBanner">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe" enctype="multipart/form-data">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfilePicture">Profile picture</label>
                                    <input type="file" id="settingsEditProfilePicture" name="settingsEditProfilePicture"
                                        class="inputFile" onchange="formSubmit(this);">
                                    <input type="hidden" name="field" value="profilePicture">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileBio">Bio</label>
                                    <textarea id="settingsEditProfileBio" name="settingsEditProfileBio" class="inputTextarea"
                                        placeholder="Rewrite your bio..." oninput="formSubmit(this);">{{ user['bio'] }}</textarea>
                                    <input type="hidden" name="field" value="bio">
                                </div>
                            </form>

                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <label class="settingssTitles" for="settingsEditProfileLocation">Location</label>
                                    <input type="text" id="settingsEditProfileLocation" name="settingsEditProfileLocation"
                                        class="inputText" value="{{ user['location'] }}" placeholder="Mars" oninput="formSubmit(this);">
                                    <input type="hidden" name="field" value="location">
                                </div>
                            </form>


                        </div>
                        <div id="settingsEditAppearance" class="settingsTabKeys" style="display: block;">
                            <form action="/updateProfile" method="POST" target="invisibleIframe">
                                <div class="inputfield">
                                    <div class="settingssTitles">Color theme</div>

                                    <div class="horisontalFlex colorThemes">
                                        <div class="radioElement grayBorder">
                                            <label for="settingsEditAppearanceColorThemeLight">Light</label>
                                            <input type="radio" name="colorThemeType"
                                                id="settingsEditAppearanceColorThemeLight"
                                                class="settingsEditAppearanceColorThemeType"
                                                value="0"
                                                {% if not user['settings']['darkMode'] %}
                                                    checked
                                                {% endif %}>
                                        </div>
                                        <div class="radioElement grayBorder">
                                            <label for="settingsEditAppearanceColorThemeDark">Dark</label>
                                            <input type="radio" name="colorThemeType"
                                                id="settingsEditAppearanceColorThemeDark"
                                                class="settingsEditAppearanceColorThemeType"
                                                value="1"
                                                {% if user['settings']['darkMode'] %}
                                                    checked
                                                {% endif %}>
                                        </div>
                                        <div class="radioElement grayBorder">
                                            <label for="settingsEditAppearanceColorThemeCustom">Custom</label>
                                            <input type="radio" name="colorThemeType"
                                                id="settingsEditAppearanceColorThemeCustom"
                                                class="settingsEditAppearanceColorThemeType"
                                                value="2">
                                        </div>
                                    </div>

                                    <div class="customColors grayBorder">
                                        <div class="horisontalFlex">
                                            <label for="customColorBackground">Background Color:</label>
                                            <input type="color" name="" id="customColorBackground">
                                        </div>
                                        <div class="horistontalFlex">
                                            <label for="customColorText">Text Color:</label>
                                            <input type="color" name="" id="customColorText">
                                        </div>
                                    </div>
                                    <input type="hidden" name="field" value="theme">
                                </div>
                            </form>

                        </div>
                        <div id="settingsEditOther" class="settingsTabKeys" style="display: none;">


                        </div>
                    </div>

                </div>

                <div id="sidebar">

                    <div class="whotofollow">
                        <div class="whotofollowheader">Preview</div>
                        <div class="whotofollowbody">
                            <div class="profileDisplay">
                                <div id="profilebanner">
                                    <img src="https://cdn.discordapp.com/attachments/1095708777027739668/1096797766228918313/IT_logo.png"
                                        alt="profilebanner" id="profilebannerimg">

                                </div>

                                <div id="profilePfpShare">
                                    <div>
                                        <img src="https://cdn.discordapp.com/attachments/1095708777027739668/1096797766228918313/IT_logo.png"
                                            alt="pfp" id="overskriftPfp" width="150" height="150">
                                    </div>
                                    <button class="genericButton vanligKnapp">Follow</button>
                                </div>
                                <div id="profileTextBody">

                                    <h3 id="profileDisplayName">Elon Musk</h3>
                                    <div id="profileBrukernavn">@elonmusk</div>
                                    <div id="profileBio">i am a spaceX engineer bla bla bal...</div>

                                    <div id="profileLocation">
                                        <img id="profileLocationIcon" src="" alt="map marker icon">
                                        <div id="profileLocationName">MArs</div>
                                    </div>

                                    <div id="profileFollowingFollowers">
                                        <div id="profileFollowing">
                                            <div>300</div>
                                            <div>Following</div>
                                        </div>
                                        <div id="profileFollowers">
                                            <div>300</div>
                                            <div>Followers</div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>


<iframe id="invisibleIframe" name="invisibleIframe" style="display: none;"></iframe>

</body>

<script src="static/javascript/lib.js"></script>
<script src="static/javascript/leftSidebar.js"></script>
<script>

    function selectRadioIfClicked(e) {
        let id = ""
        if (e.target.tagName != "DIV") {
            e.target.parentElement.children[1].checked = true;
            id = e.target.parentElement.children[1].id;
        } else {
            id = e.target.children[1].id;
            e.target.children[1].checked = true;
        }

        if (id == "settingsEditAppearanceColorThemeCustom") {
            document.querySelector(".customColors").style.display = "flex";
        } else {
            document.querySelector(".customColors").style.display = "none";
        }

        input = document.querySelector("#" + id);
        input.parentElement.parentElement.parentElement.parentElement.submit();

    }
    let colorThemeButtons = document.querySelectorAll(".radioElement");
    for (let i = 0; i < colorThemeButtons.length; i++) {
        colorThemeButtons[i].addEventListener("click", selectRadioIfClicked);
    }

    function formSubmit(input) {
        input.parentElement.parentElement.submit();
    }


</script>

</html>
